.new-classroom-body {
    margin: 0 5%;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
}

.new-classroom-body input, .new-classroom-body .input-tag, .new-classroom-body .button {
    margin: 0 20%;
}

.new-classroom-body div {
    font-size: 1.6rem;
    font-weight: 600;
}