@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #04364A; 
  --foreground-2: #176B87; 
  --background: #64CCC5;
  --background-2: #DAFFFB; 
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input:focus-visible {
  outline: var(--foreground-2) ;
}
