.batch {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.batch-sidebar {
  flex: 3;
}

.batch-sidebar-items {
  box-shadow:  4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.4);
  padding: 8px;
  margin: 20px;
  cursor: pointer;

}

.batch-sidebar-items * {
  text-align: center;
  margin: 4px;
  padding: 8px;
}

.batch-body {
  flex: 10;
}

.batch-students-input {
  margin-top: 16px;
  margin-left: 8px; margin-right: 8px;
}

